/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/

.coin-slider { padding:0; overflow:hidden; zoom:1; position:relative; float:right;}
.coin-slider a { text-decoration:none; outline:none; border:none;}

/* buttons for switching */
.cs-buttons { display:block; margin:12px 0 0; padding:0; font-size:0px; float:left;}
.cs-buttons a { margin:0 2px; width:15px; height:15px; float:left; color:#fff; text-indent:-10000px; background:url(images/slide_p.png) no-repeat center center;}
.cs-buttons a.cs-active { color:#fff; background-image:url(images/slide_a.png);}

/* text in slider */
.cs-title { display:none; padding:16px 60px 16px 24px; width:876px; color:#fff; font-size:12px; line-height:1.5em; background:url(images/overlay2.png) repeat left top;}
.cs-title big { font-size:12px; font-weight:bold;}

/* buttons Next and Prew */
.cs-prev, .cs-next { /*padding:0; width:50px; height:38px; text-indent:-10000px;*/ padding:0px 10px; color:#fff; background:url(images/overlay.png) repeat left top;}
.cs-prev { /*background:url(images/slide_l.png) no-repeat right top;*/} 
.cs-next { /*background:url(images/slide_r.png) no-repeat left top;*/}
