 <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><a href="index.html"><span>T</span>oodeloo <small>The ultimate todo app</small></a></h1>
      </div>
      <div class="searchform">
        <form id="formsearch" name="formsearch" method="post" action="">
          <span><input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search" type="text" /></span>
          <input name="button_search" src="images/search.png" class="button_search" type="image" />
        </form>
      </div>
      <div class="clr"></div>
      <div class="social">
        <p>
          <a href="#"><img src="images/soc1.png" width="24" height="24" alt="social" /></a>
          <a href="#"><img src="images/soc2.png" width="24" height="24" alt="social" /></a>
          <a href="#"><img src="images/soc3.png" width="24" height="24" alt="social" /></a>
        </p>
      </div>
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="#"><span>Inbox</span></a></li>
          <li><a href="#"><span>Todo</span></a></li>
          <li><a href="#"><span>Next</span></a></li>
          <li><a href="#"><span>Scheduled</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>
      <div class="clr"></div>
    </div>
  </div>
