<div class="gadget">
    <h2 class="star">
        <span>Create new</span></h2>
    <div class="clr">
    </div>
    <ul class="sb_menu">
        <li class="label">
            <div>
                Title</div>
            <div class="labelInput">
                <input maxlength="80" value="Title" type="text" />
            </div>
        </li>
        <li><a href="#">Tags</a></li>
        <li><a href="#">Notes</a></li>
        <li><a href="#">Due Date</a></li>
        <li style="background-color: #14A7FB; color: white; font: normal 13px/1.5em 'Liberation sans', Arial, Helvetica, sans-serif;">
            Save</li>
    </ul>
</div>
