<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="BifrostConfig" type="Bifrost.Configuration.BifrostConfigHandler, Bifrost" />
  </configSections>
  <BifrostConfig></BifrostConfig>
  <appSettings>
    <add key="MONGOHQ_URl" value="mongodb://10.0.1.49" />
    <add key="MONGO_DB" value="Toodeloo" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="WNSRecipe" switchValue="Off">
        <listeners>
          <!--                                     
            Uncomment one or more entries in this section or add your own custom trace listeners to enable trace logs from the WNS Recipe. Note 
            that some trace listeners in this section may require additional configuration steps such as configuring output file location, setting 
            file permissions, creating event sources, etc. For additional information on trace listener configuration, please refer to 
            http://msdn.microsoft.com/en-us/library/ff664708.aspx and http://msdn.microsoft.com/en-us/library/4y5y10s7.aspx.
          -->
          <!-- Windows Azure Log -->
          <!--<add name="Azure"    type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
          <!-- Windows Event Log -->
          <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="WNS Recipe Notifications"/>-->
          <!-- Delimited text file -->
          <!--<add name="LogFile"  type="System.Diagnostics.DelimitedListTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="[TRACE FILE NAME (e.g. c:\temp\sampleDelimitedFile.txt)]" />-->
          <!-- XML file -->
          <!--<add name="XmlFile"  type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\sampleLogFile.xml" />-->
          <!-- Console -->
          <!--<add name="Console"  type="System.Diagnostics.ConsoleTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" traceOutputOptions="None"/>-->
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>