@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/Content/scripts/index.js")"></script>
}

    <div class="mainbar">
        <div class="article">
       	    <h2>
			    <span>Items</span>
		    </h2>

            <ul class="sb_menu todo-list">
                <li class="empty">Empty</li>
		    </ul>
            <div class="clr"></div>
        </div>
    </div>
    <div class="sidebar">
        <div class="gadget" data-feature="sidebar/create">
        </div>
    </div>
